.elementor-17403 .elementor-element.elementor-element-ddc4531 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-17403 .elementor-element.elementor-element-7675f37 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
}

.elementor-17403 .elementor-element.elementor-element-5611e2b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
}

.elementor-17403 .elementor-element.elementor-element-d99aefc {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
}

.elementor-17403 .elementor-element.elementor-element-9017451 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
}

@media(max-width:767px) {
    .elementor-17403 .elementor-element.elementor-element-7675f37 {
        --width: 25%;
    }
    .elementor-17403 .elementor-element.elementor-element-5611e2b {
        --width: 25%;
    }
    .elementor-17403 .elementor-element.elementor-element-d99aefc {
        --width: 25%;
    }
    .elementor-17403 .elementor-element.elementor-element-9017451 {
        --width: 25%;
    }
}

@media(min-width:768px) {
    .elementor-17403 .elementor-element.elementor-element-7675f37 {
        --width: 25%;
    }
    .elementor-17403 .elementor-element.elementor-element-5611e2b {
        --width: 25%;
    }
    .elementor-17403 .elementor-element.elementor-element-d99aefc {
        --width: 25%;
    }
    .elementor-17403 .elementor-element.elementor-element-9017451 {
        --width: 25%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-17403 .elementor-element.elementor-element-7675f37 {
        --width: 25%;
    }
    .elementor-17403 .elementor-element.elementor-element-5611e2b {
        --width: 25%;
    }
    .elementor-17403 .elementor-element.elementor-element-d99aefc {
        --width: 25%;
    }
    .elementor-17403 .elementor-element.elementor-element-9017451 {
        --width: 25%;
    }
}