.elementor-11085 .elementor-element.elementor-element-4659af0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 0%;
    --padding-bottom: 1%;
    --padding-left: 0%;
    --padding-right: 0%;
}

.elementor-11085 .elementor-element.elementor-element-0becd8e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-11085 .elementor-element.elementor-element-2612535>.elementor-widget-container {
    padding: 0px 0px 12px 0px;
}

.elementor-11085 .elementor-element.elementor-element-89b9598 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-11085 .elementor-element.elementor-element-bc34450>.elementor-widget-container {
    padding: 0px 0px 12px 0px;
}

.elementor-11085 .elementor-element.elementor-element-a1ba2a4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-11085 .elementor-element.elementor-element-83d311e>.elementor-widget-container {
    padding: 0px 0px 12px 0px;
}

.elementor-11085 .elementor-element.elementor-element-f164b9b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-11085 .elementor-element.elementor-element-be03236>.elementor-widget-container {
    padding: 0px 0px 18px 0px;
}

@media(min-width:768px) {
    .elementor-11085 .elementor-element.elementor-element-4659af0 {
        --content-width: 1440px;
    }
    .elementor-11085 .elementor-element.elementor-element-0becd8e {
        --width: 25%;
    }
    .elementor-11085 .elementor-element.elementor-element-89b9598 {
        --width: 25%;
    }
    .elementor-11085 .elementor-element.elementor-element-a1ba2a4 {
        --width: 25%;
    }
    .elementor-11085 .elementor-element.elementor-element-f164b9b {
        --width: 25%;
    }
}