@font-face {
    font-family: 'haruicons';
    src: url('fonts/haruicons.eot?6d279z');
    src: url('fonts/haruicons.eot?6d279z#iefix') format('embedded-opentype'), url('fonts/haruicons.ttf?6d279z') format('truetype'), url('fonts/haruicons.woff?6d279z') format('woff'), url('fonts/haruicons.svg?6d279z#haruicons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="hicon-"],
[class*=" hicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'haruicons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hicon-madd:before {
    content: "\e947";
}

.hicon-mplay:before {
    content: "\e948";
}

.hicon-quote:before {
    content: "\e946";
}

.hicon-magnify:before {
    content: "\e941";
}

.hicon-shop-bag:before {
    content: "\e942";
}

.hicon-funnel:before {
    content: "\e943";
}

.hicon-arrow-right-l:before {
    content: "\e944";
}

.hicon-arrow-left-l:before {
    content: "\e945";
}

.hicon-menu:before {
    content: "\e940";
}

.hicon-error-outline:before {
    content: "\e938";
}

.hicon-error:before {
    content: "\e939";
}

.hicon-cancel:before {
    content: "\e93a";
}

.hicon-highlight-off:before {
    content: "\e93b";
}

.hicon-check-box:before {
    content: "\e93c";
}

.hicon-check-circle-outline:before {
    content: "\e93d";
}

.hicon-check:before {
    content: "\e93e";
}

.hicon-credit-card:before {
    content: "\e93f";
}

.hicon-autorenew:before {
    content: "\e937";
}

.hicon-article:before {
    content: "\e935";
}

.hicon-description:before {
    content: "\e936";
}

.hicon-grid-view:before {
    content: "\e933";
}

.hicon-list-view:before {
    content: "\e934";
}

.hicon-sync-alt:before {
    content: "\e92d";
}

.hicon-add-circle-outline:before {
    content: "\e900";
}

.hicon-add-circle:before {
    content: "\e901";
}

.hicon-add:before {
    content: "\e902";
}

.hicon-arrow-down-b:before {
    content: "\e903";
}

.hicon-arrow-down:before {
    content: "\e904";
}

.hicon-arrow-left-b:before {
    content: "\e905";
}

.hicon-arrow-left:before {
    content: "\e906";
}

.hicon-arrow-right-b:before {
    content: "\e907";
}

.hicon-arrow-right:before {
    content: "\e908";
}

.hicon-arrow-thin-down:before {
    content: "\e909";
}

.hicon-arrow-thin-left:before {
    content: "\e90a";
}

.hicon-arrow-thin-right:before {
    content: "\e90b";
}

.hicon-arrow-thin-up:before {
    content: "\e90c";
}

.hicon-arrow-up-b:before {
    content: "\e90d";
}

.hicon-arrow-up:before {
    content: "\e90e";
}

.hicon-bag:before {
    content: "\e90f";
}

.hicon-calendar:before {
    content: "\e910";
}

.hicon-cart-limit:before {
    content: "\e911";
}

.hicon-cart-plus:before {
    content: "\e912";
}

.hicon-cart:before {
    content: "\e913";
}

.hicon-chevron-down:before {
    content: "\e914";
}

.hicon-chevron-left:before {
    content: "\e915";
}

.hicon-chevron-right:before {
    content: "\e916";
}

.hicon-chevron-up:before {
    content: "\e917";
}

.hicon-close-outline:before {
    content: "\e918";
}

.hicon-close:before {
    content: "\e919";
}

.hicon-comments:before {
    content: "\e91a";
}

.hicon-heart-outline:before {
    content: "\e91b";
}

.hicon-heart:before {
    content: "\e91c";
}

.hicon-ios-arrow-back:before {
    content: "\e91d";
}

.hicon-ios-arrow-forward:before {
    content: "\e91e";
}

.hicon-ios-volume-high:before {
    content: "\e91f";
}

.hicon-ios-volume-low:before {
    content: "\e920";
}

.hicon-play-circle-filled:before {
    content: "\e921";
}

.hicon-play-circle:before {
    content: "\e922";
}

.hicon-play-outline:before {
    content: "\e923";
}

.hicon-play-radius:before {
    content: "\e924";
}

.hicon-play:before {
    content: "\e925";
}

.hicon-random:before {
    content: "\e926";
}

.hicon-remove-circle-outline:before {
    content: "\e927";
}

.hicon-remove-circle:before {
    content: "\e928";
}

.hicon-remove:before {
    content: "\e929";
}

.hicon-search:before {
    content: "\e92a";
}

.hicon-star-outline:before {
    content: "\e92b";
}

.hicon-star:before {
    content: "\e92c";
}

.hicon-volume-high:before {
    content: "\e92e";
}

.hicon-volume-low:before {
    content: "\e92f";
}

.hicon-volume-medium:before {
    content: "\e930";
}

.hicon-volume-off:before {
    content: "\e931";
}

.hicon-volume-up:before {
    content: "\e932";
}